<!DOCTYPE html>

<html>

<head>
    <!-- TITLE OF THE PAGE -->
    <title>
        <%=title%>
    </title>
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    <!-- importing google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- HEADER -->

    <!-- BODY -->
    <%- body %>

        <!-- FOOTER -->

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="/js/file_viewer.js"></script>

</body>

</html>